doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        title eFRS Tax Invoice / Statement
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bitter|Barlow:400,700")
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        style(type="text/css")
            include email.css
        style(type="text/css")
            include invitation.css
    body(itemscope='', itemtype='http://schema.org/EmailMessage')
        .header-bar(style=`background-color: #4698f5`)
            img.logo(src=`https://www.efrs.io/images/logo-sml.png`, height="120px", alt="logo")
        .content
            h1 eFRS #{statement.outstanding ? "Tax Invoice" : "Activity Statement" }
            if(statement.outstanding > 0)
                p A new tax invoice and monthly statement is ready to view / pay.
                p Please follow the link below for a detailed summary and payment options.

                p.bold Amount Outstanding: $#{(statement.outstanding).toFixed(2)}

                .text-center
                    //if mso
                      v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height:40px;v-text-anchor:middle;width:200px;', arcsize='10%', stroke='f', fillcolor='#1269b6')
                        w:anchorlock
                          center
                    a(href=`https://www.efrs.io/api/billing/statement/${statement.company._id}/${statement._id}/view`, style='background-color:#1269b6;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;') View and pay invoice
                    //if mso

            else
                p A new monthly statement is ready to view
                p Please follow the link below for a detailed summary.
                a(href="https://www.efrs.io/api/billing/statement/#{statement.company._id}/#{statement._id}").button View activity statement

                .text-center
                    //if mso
                      v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height:40px;v-text-anchor:middle;width:200px;', arcsize='10%', stroke='f', fillcolor='#1269b6')
                        w:anchorlock
                          center
                    a(href=`https://www.efrs.io/api/billing/statement/${statement.company._id}/${statement._id}/view`, style='background-color:#1269b6;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;') View activity statement
                    //if mso
